@import url("https://fonts.googleapis.com/css2?family=Mali:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import "tailwindcss";
#root {
  max-width: 1280px;
  margin: 0 auto;
  background: url("assets/abstract-background-with-monochrome-low-poly-design_1048-14453.avif");
  text-align: center;
}

@theme {
  --font-display: "Mali", sans-serif;
}
body {
  font-family: var(--font-display);
}
